* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root {
  --main-color: #e5e5e5;
  --head-color: #aaaaaa;
}

header {
  background-color: var(--main-color);
  color: var(--head-color);
  text-align: center;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
}

section {
  padding: 20px;
}

.sidebar {
  float: left;
  width: 150px;
}

.sidebar a {
  display: block;
  background-color: var(--main-color);
  padding: 10px;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}

.main-content {
  float: left;
  padding: 0 20px;
  max-width: 600px;
}

.main-content h2 {
  color: var(--head-color);
}

.about {
  float: right;
  background-color: #f1f1f1;
  padding: 10px;
  width: 200px;
  text-align: center;
  color: var(--head-color);
}

footer {
  clear: both;
  background-color: var(--main-color);
  color: var(--head-color);
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .sidebar,
  .main-content,
  .about {
    float: none;
    width: auto;
    text-align: center;
  }

  .main-content {
    max-width: max-content;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .main-content {
    max-width: 350px;
  }
}
