* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root {
  --main-color: #e5e5e5;
  --head-color: #aaaaaa;
}

  header {
    background-color: var(--main-color);
    color: var(--head-color);
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
  }

  section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
  }

  .sidebar a {
    background-color: var(--main-color);
    padding: 10px;
    text-align: center;
    color: #000;
  }

  .main-content {
    padding: 0 20px;
    width: 50%;
    flex-grow: 1;
  }

  .main-content h2 {
    color: var(--head-color);
  }

  .about {
    background-color: var(--main-color);
    padding: 10px;
    width: 200px;
    text-align: center;
    color: var(--head-color)
  }

  footer {
    background-color: var(--main-color);
    color: var(--head-color);
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
  }

  @media (max-width: 768px) {
    section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .main-content, .about {
      max-width: 100%;
      width: auto;
    }
  }